<%- include("partials/header404", { title: `RedFenix | 404` }) %>

<div id="notfound">
    <div class="notfound">
      <div class="notfound-bg">
        <div></div>
        <div></div>
        <div></div>
        </div>
          <h1>Opss!</h1>
          <h2>Error 404 : Pagina no Encontrada ...</h2>
          <a href="/">Ir a Casa!</a>
    </div>
</div>