<%- include("partials/header", { bot, user, path, title: "RedFenix" }) %>

<div class="home__container bd-container">
    <h1 style="text-align: center;" class="home__title">Preguntas frecuentes <a class="color-nfr">Tanjiro</a>
    </h1>
    <br>
    <br>
    <br>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Quién es Tanjiro?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">Aparte de ser el protagonista de Demon Slayer: Kimetsu no Yaiba,
                también es un bot de discord cuyo propósito es brindar diversión, información y moderación en
                los servidores de discord.
            </p>
        </div>
    </div>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Código fuente de Tanjiro?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">No planeamos utilizar Tanjiro de código abierto. Ya ha habido
                casos de propietarios de derechos de autor que han atacado repositorios de código abierto, y no
                queremos involucrarnos en eso.
            </p>
        </div>
    </div>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Quién o quienes son los creadores de Tanjiro?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">
                El principal desarrollador de <a class="color-nfrs" target="_blank" href="/faq">Tanjiro</a> es <a
                    class="color-nfrs" target="_blank" href="/Louis">Louis</a>
                quien es el fundador y desarrollador del bot y de la web, Le sigue <a class="color-nfrs" target="_blank"
                    href="/Carlos">Carlos</a> quien es uno de los desarrolladores primordiales para Tanjiro
                y ahora ultimo pero menos importante <a class="color-nfrs" target="_blank"
                    href="/Estename">EsteName_</a> quien a ayudado para que la web este disponible.
            </p>
        </div>
    </div>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Como invito a Tanjiro en mi servidor?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">
                Puedes invitar a Tanjiro con un simple comando <span class="code">t!invite</span> o mediante
                este enlace <a target="_blank" class="color-nfrs" href="/invite">Invitación</a>, recuerda que
                para usar este comando
                tanjiro debe estar en algún servidor, de igual manera debes tener el permiso de Administrador
                para que le puedas acceder todos los permisos que necesite.
            </p>
        </div>
    </div>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Como veo los comandos que tiene Tanjiro?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">Simplemente usa el comando <span class="code">t!help</span> o en
                español <span class="code">t!ayuda</span>, si no en la web <a class="color-nfrs"
                    href="/commands">Comandos</a> te
                desplegara un mensaje embed con todos y cada uno de los comandos que contiene.
            </p>
        </div>
    </div>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Cada cuando actualizan a Tanjiro?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">Tanjiro se mantiene actualizando cada día con nuevos comandos o
                resolviendo algunos bug's que se presenten a lo largo de su uso puedes ver las ultimas
                actualizaciones en el <a target="_blank" class="color-nfrs" href="/support">Servidor de
                    Soporte</a>
            </p>
        </div>
    </div>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Dónde reporto errores de Tanjiro?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">Lo puedes hacer en el <a target="_blank" class="color-nfrs"
                    href="/support">Servidor de Soporte</a> o desde tu servidor con el
                comando <span class="code">t!bug</span>, <span class="color-close">recuerda usar este comando
                    sabiamente ya que nos tomamos los errores seriamente.
                    No queremos que seas ingresado a la blacklist ^^</span>
            </p>
        </div>
    </div>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Dónde puedo donar para apoyarlos en el desarrollo de Tanjiro?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">Estas donaciones nos ayudan a que Tanjiro pueda seguir en servicio
                de todos los servidores de discord para ello hemos creado una cuenta para que nos apoyes <a
                    target="_blank" class="color-nfrs" href="/paypal">Louis Olivares</a>, esta ayuda tiene
                recompensas para ti ^^
            </p>
        </div>
    </div>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Cómo puedo colaborar siendo soporte?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">Le puedes escribir al md de <a class="color-nfrs" target="_blank"
                    href="/Louis">Louis.</a> el te mandara unas preguntas
                que responder, seguido te llegara un mensaje de Tanjiro diciendo si fuiste aceptado o no ^^
            </p>
        </div>
    </div>
    <div class="accordion__item">
        <header class="accordion__header">
            <i class="bx bxs-chevron-right accordion__icon"></i>
            <h3 class="accordion__title">¿Donde puedo ver los términos de Tanjiro?</h3>
        </header>
        <div class="accordion__content">
            <p class="accordion__description">Lo puedes ver mediante este enlace <a class="color-nfrs" target="_blank"
                    href="/terms">Terminos &amp; Servicio.</a>
                si no te queda claro alguna de esas pautas las puedes consultar con <a class="color-nfrs"
                    target="_blank" href="/Louis">Louis.</a>
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

<%- include("partials/footer") %>